<h2> Reserve {{ car.carMake }} - {{ car.model }}  </h2>

<div class="reserveCars">
  <div class="card reserveCar">
    <div class="car">
      <img class="card-img-top" src={{car.imgPath}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-text">Trip information</h5>
        <p class="km-{{car.id}}"></p>
        <p class="km-um-{{car.id}}"></p>
        <p class="cost-{{car.id}}"></p>
        <a href="/{{this._id}}/coords?lat={{../lat}}&lng={{../lng}}" class="reserve btn btn-success">Reserve your car</a>   
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>

<script src="/javascripts/dMatrixInd.js"></script>
<script src="/javascripts/directionMapper.js"></script>
<script> window.car = {{{ carStr }}} </script>