<h2> Reserve {{ car.carMake }} - {{ car.model }}  </h2>

<div class="reserveCars">
  <div class="card reserveCar">
    <div class="car">
      <img class="card-img-top" src={{car.imgPath}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-text">Trip information</h5>
        <p>Distance: <span id="km" class="km-{{car.id}}"></span> km</p>
        <p>€/km: <span class="km-um-{{car.id}}"></span></p>
        <p>Cost: <span id="cost" class="cost-{{car.id}}"></span> €</p>
        <button type="button" {{!-- href="../private/reserve/{{car.id}}" --}} id="reserve" class="reserve btn btn-success">Reserve your car</button>   
      </div>
    </div>
    <div id="map"></div>
  </div>
</div>

<script src="/javascripts/dMatrixInd.js"></script>
<script src="/javascripts/directionMapper.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/rides.js"></script>
<script> window.car = {{{ carStr }}} </script>