<h2>TODOS LOS COCHES</h2>

<div class="listcards">
{{#each cars}}
  <div class="card profileCar" style="width: 18rem;">
    <img class="card-img-top" src={{this.imgPath}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ this.carMake }} - {{ this.model }} </h5>
      <p class="card-text">KM: {{ this.km }} </p>
      <p class="card-text">{{this.cost}} €</p>
      <a href="/{{this._id}}" class="btn btn-success">Check</a>
    </div>
  </div>
{{/each}}
</div>