

<div class="profileCars">
  <h2>Cars Available</h2>
{{#each cars}}
  {{#compare this.available true operator="=="}}
  <div class="card profileCar">
    <div class="car">
      <img class="card-img-top" src={{this.imgPath}} alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">{{ this.carMake }} - {{ this.model }} {{this.year}} </h4>
        <h5 class="card-text">Trip information</h5>
        <p>Distance: <span class="km-{{this.id}}"></span> km</p>
        <p>€/km: <span class="km-um-{{this.id}}"></span></p>
        <p>Cost: <span class="cost-{{this.id}}"></span> €</p>
        <a href="/{{this._id}}/coords?lat={{../lat}}&lng={{../lng}}" class="reserve btn btn-success">View your trip</a>    
        <p class="latlng" hidden>lat: {{this.latitude}}, lng: {{this.longitude}}|</p>
      </div>
    </div>
    <div class="gmap"id="map-{{counter @index}}"></div>
  </div>
  {{/compare}}
{{/each}}
</div>

<script src="/javascripts/preuba.js"></script>
<script src="/javascripts/listMap.js"></script>
<script> window.cars = {{{ carStr }}} </script>
