

<div class="rider">
  RIDER
  <div>
  <canvas id="rider"></canvas>
</div>

  <ol>
    {{#each rides}}
    <li>
      <h5 class="card-title">{{ this.cost }} € - {{formatTime this.createdAt "MM-DD-YYYY, h:mm"}} </h5>
    </li>
    {{/each}}
  </ol>
</div>

<div class="driver">
  DRIVES
   <div>
  <canvas id="driver"></canvas>
</div>
  <ol>
    {{#each drive}}
    <li>
      <h5 class="card-title">{{ this.cost }} € - {{formatTime this.createdAt "MM-DD-YYYY, h:mm"}} </h5>
    </li>
    {{/each}}
  </ol>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="/javascripts/financial-data.js" charset="utf-8"></script>

<script> window.rides = {{{ ridesStr }}} </script>